# The transport for the MCP server - either 'sse' or 'stdio' (defaults to sse if left empty)
TRANSPORT=

# Host to bind to if using sse as the transport (leave empty if using stdio)
HOST=
# Port to listen on if using sse as the transport (leave empty if using stdio)
PORT=

# The LLM you want to use for summaries and contextual embeddings
# Generally this is a very cheap and fast LLM like gpt-4.1-nano
SUMMARY_LLM_BASE_URL=
SUMMARY_LLM_MODEL=
LLM_MODEL_API_KEY=

# Get your Open AI API Key by following these instructions -
# https://help.openai.com/en/articles/4936850-where-do-i-find-my-openai-api-key
# This is for the embedding model - text-embed-small-3 will be used
EMBEDDING_MODEL=
CUSTOM_EMBEDDING_URL=
#If using custom embedding dimensions, the Postgres setup file needs to be edited. 
EMBEDDING_DIMENSIONS= 

# RAG strategies - set these to "true" or "false" (default to "false")
# USE_CONTEXTUAL_EMBEDDINGS: Enhances embeddings with contextual information for better retrieval
USE_CONTEXTUAL_EMBEDDINGS=
USE_HYBRID_SEARCH=
# USE_AGENTIC_RAG: Enables code example extraction, storage, and specialized code search functionality
USE_AGENTIC_RAG=
# USE_RERANKING: Applies cross-encoder reranking to improve search result relevance
USE_RERANKING=

# For the Supabase version (sample_supabase_agent.py), set your Supabase URL and Service Key.
# Get your SUPABASE_URL from the API section of your Supabase project settings -
# https://supabase.com/dashboard/project/<your project ID>/settings/api
SUPABASE_URL=
# Get your SUPABASE_SERVICE_KEY from the API section of your Supabase project settings -
# https://supabase.com/dashboard/project/<your project ID>/settings/api
# On this page it is called the service_role secret.
SUPABASE_SERVICE_KEY=

# PostgreSQL Configuration (Use  this for a Postgres local implementation instead of Supabase. )
# PostgreSQL host address
POSTGRES_HOST=
# PostgreSQL port
POSTGRES_PORT=
# Database name
POSTGRES_DB=
# Database user
POSTGRES_USER=
# Database password
POSTGRES_PASSWORD=
